/* body */
body {
  background-color: gold;
}

/* header */

h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 64px;
  color: rgb(23, 23, 156);
}

/* menu button */

#menu {
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  height: 100px;
  text-align: center;
}

#start {
  margin: auto;
  width: 10%;
  color:rgb(23, 23, 156);
}

#start:hover {
  color: red;
}

/* game div */

#game {
  margin-bottom: 5em;
}

/* game board table */

#board {
  margin: auto;
  padding: 1em;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

#board:nth-child(n + 1) {
  background-color: rgb(23, 23, 156);
}

#column-top {
  background-color: lightgoldenrodyellow;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border-color: black;
  display: inline-block;
}

/* make pieces red/blue,  depending on player 1/2 piece */

.player1 {
  background-color: red;
}

.player2 {
  background-color: yellow;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}